html {
  height: 100%;
  font-family: arial, helvetica, sans-serrif;
}
body {
  margin: 0;
  height: inherit;
  display: flex;
  flex-direction: column;
}
header {
  background: #bbb;
  margin-bottom: 10px;
  flex-grow: 0.1;
}
.content {
  display: flex;
  flex-grow: 0.8;
  background-color: aquamarine;
  margin-bottom: 10px;
}
.content-a {
  background-color: yellowgreen;
  flex-grow: 0.6;
}

.content-b {
  background-color: green;
  flex-grow: 0.2;
  order: -1;
}

.content-c {
  background-color: yellow;
  flex-grow: 0.2;
}

footer {
  background: #bbb;
  flex-grow: 0.1;
}

/* now responsiveness  */
@media only screen and (max-width: 1000px) {
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  .content-a {
    order: -1;
    flex-basis: 100%;
    height: 70%;
  }

  .content-b {
    flex-grow: 0.5;
    height: 30%;
  }

  .content-c {
    flex-grow: 0.5;
    height: 30%;
  }
}

@media only screen and (max-width: 500px) {
  .content {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
