html {
  height: 100%;
  font-family: arial, helvetica, sans-serrif;
}
body {
  margin: 0;
  height: inherit;
  display: flex;
  flex-direction: column;
}
header {
  background: #bbb;
  margin-bottom: 10px;
  flex-grow: 0.1;
}
.content {
  display: flex;
  flex-grow: 0.8;
}
section {
  background: green;
  margin-bottom: 10px;
  flex-grow: 0.7;
}
.content-a {
  width: 100%;
  background: red;
  height: 50%;
}

.content-b {
  width: 100%;
  background: orange;
  height: 50%;
}

aside {
  background: yellow;
  margin-bottom: 10px;
  flex-grow: 0.3;
}

footer {
  background: #bbb;
  flex-grow: 0.1;
}

/* now responsiveness  */
@media only screen and (max-width: 1000px) {
  section {
    flex-grow: 0.5;
  }
  aside {
    flex-grow: 0.5;
  }
}

@media only screen and (max-width: 500px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  section {
    flex-grow: 0.64;
    margin-bottom: 0;
  }
  aside {
    flex-grow: 0.33;
  }
}
